.color-title {
    font-weight: 20;
}

#red {
    color: red;
}

#blue {
    color:blue;
}

#orange {
    color: orange;
}

#green {
    color: green;
}

#yellow {
    color: yellow;
}